/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
    list-style: circle;
    list-style-position:inside;
    margin-left: 30px;
    line-height: 1.5;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End normalization
   Begin styling */

.main-title { /*main title css*/
    font-weight: bolder;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

body { /*set font, color, and bg color master*/
    background-color: #1b2c46;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 1.1;
    color: #2b303b;
}

.master_col { /*set padding for master center column*/
    width: 700px;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 20px;
    margin: auto;
    background-color: white;
}

.intro { /*intro div */
    background-color: #b5d7f7;
    padding: 10px;
    margin-bottom: 40px;
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: url("gear-3.png");  
    background-repeat: no-repeat;
    background-position: 130%;
}

article { /*set article-toarticle spacing */
    margin-top: 50px;
    margin-bottom: 5px;
    padding: 2px;
    border-top-width: 8px;
    border-style: groove;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-radius: 27px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border-color: white;
    
}

header {
    width: 500px;
    background-color: #86bdf0;
    padding: 10px;
    padding-left: 10px;
    padding-top: 20px; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.article-body {
    background-color: #b5d7f7;
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 60px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    text-align: justify;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

h4 {
    padding-left: 20px;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 3px;
}

footer {
    background-color: #1b3349;
    color: white;
    font-size: 16px;
    padding: 5px;
    padding-left: 15px;
    border-radius: 10px;
}

a {
    color: inherit;
}

#miketoth{
    text-align: center;
    color: white;
    font-size: 14px;
}
